<nav class="nav">
  <div>
    FN
  </div>
  <% if (locals.user) { %>
    <div>
        <a href='/'>Hello, <%= user.name %>!</a>
        <a href='/'>About</a>
        <a href='/login'>Main</a>
        <a href='/logout'>Logout</a>
    </div>
  <% } else { %>
    <div>
        <a href='/'>About</a>
        <a href='/login'>Login</a>
        <a href='/register'>Register</a>
    </div>
  <% } %>
</nav>
