<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div class="container">

      <%- include("header") -%>
      <div class="main">
      </div>
      <div class="footer"><%- include("../public/footer.html") -%></div>

    </div>
  </body>
</html>
