* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-weight: 200;
  color: #7d7d7d;
  font-size: 25px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
  grid-template-rows: 40px auto 40px;
}

.nav, .footer {
  background-color: #292929;
  display: grid;
  grid-template-columns: 200px auto 200px;
  place-items: center center;
}

.nav {
  grid-area: nav;
}

.nav div:first-child {
  font-size: 20px;
  color: #7d7d7d;
}

.nav div:last-child{
  display: grid | inline-grid;
  justify-content: stretch;
}

.main {
  grid-area: main;
  min-height: calc(100vh - 80px);
}

.main form{
  background-color: #fff;
  display: grid;
  place-content: center center;

}

.main form > div {
  background-color: #fff;
  display: grid;
  place-content: center center;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.main form > div > div {
  padding: 5px;
}

.main form div:last-child {
  color: red;

}

.footer {
  color: #7d7d7d;
  grid-area: footer;
}

a {
    color: #a8a8a8;
    text-decoration: none;
}

a:hover {
  color: #c7c7c7;
}

a:active {
  color: #7d7d7d;
}

.input, .input-button, .message {
  display: block;
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border-radius: 10px;
}

.input {
  background-color: #fff;
  color: #212529;
  border: 1px solid #e3e3e3;
}

.input-button {
  background-color: #4a78ed;
  color: #fff;
  border: 1px solid #5998d4;
}

.input-button:hover {
  background-color: #537fed;
}

.input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
